/* more QoL styles for standard site pages */

h2 {
    color: var(--complimentary);
}

section {
        display: inline-flex;
        align-items: center;
        width: 94vw;
        margin: 5px;
}