:root {
    /* site core color palette */
    --dominant: #0047ab;
    --complimentary: #E03616;
    --accent: #272932;

    --red: #F05D5E;
    --white: #E7ECEF;
    
    --blue: #0047ab;
    --green: #4c952a;
    --orange: #ff984a;
    --brown: #60503D;

    --border-width: 3px;
    --border-color: #000000;
}

body {
    background-color: var(--white);
    color: var(--accent);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    text-align: center;
}

a {
    color: #77b0ff;
    text-decoration: none;
}

h1 {
    font-size: 8vw;
    margin: 0;
}

h2 {
    font-weight: 500;
}

p {
    margin: 10px;
}

.spacer-bar {
    margin-left: 20px;
    height: 8px;
    width: 300px;
    background-color: var(--accent);
}