:root {
    /* site core color palette */
    --dominant: hsl(215, 100%, 34%);
    --complimentary: hsl(10, 82%, 48%);
    --accent: hsl(229, 12%, 17%);

    /* relative colors */
    --complimentary-fill: hsl(10, 82%, 78%);

    --red: hsl(360, 83%, 65%);
    --white: hsl(202, 20%, 92%);
    
    --blue: hsl(215, 100%, 34%);
    --green: hsl(101, 56%, 37%);
    --orange: hsl(26, 100%, 65%);
    --brown: hsl(33, 22%, 31%);

    --border-width: 3px;
    --border-color: hsl(0, 0%, 0%);
}

body {
    background-color: var(--white);
    color: var(--accent);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-level-content {
    flex: 1; */
}

a {
    color: #77b0ff;
    text-decoration: none;
}

h1 {
    font-size: 8vw;
    margin: 0;
}

h2 {
    font-weight: 500;
}

p {
    margin: 10px;
}

.spacer-bar {
    margin-left: 20px;
    height: 8px;
    width: 300px;
    background-color: var(--accent);
}

/* nice looking button links */
.button-link {
    display: inline-flex;
    background-color: var(--dominant);
    color: #ffffff;
    padding: 10px;
    line-height: 30px;
    font-size: 1.2em;
    font-family: 'Space Grotesk';
    white-space: nowrap;
    overflow: hidden;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-style: solid;
  }

  form textarea {
    width: 70vw;
    height: 30vh;
  }